{% extends 'dashboard.html' %}
{% block title %}
	<title>ABOUT US</title>
{% endblock %}

{% block body %}
    <br>
    <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Meet Shakhniyar: <span class="text-body-secondary">Web Developer Extraordinaire</span></h2>
          <br>
        <p class="lead"> Greetings from the digital realm! Allow us to introduce Shakhniyar, a dynamic and innovative web developer who is redefining the online landscape with his exceptional skills and passion for coding.
            <br>
            <br>
         Shakhniyar is not just a web developer; he is a digital architect who weaves magic through code. His commitment to excellence, coupled with a keen eye for detail, sets him apart in the dynamic world of web development.

Let's build the future of the web together with Shakhniyar leading the way!</p>
      </div>
      <div class="col-md-5">
                    <img width="500" height="500"
              src="{{ url_for('static',filename='media/shaha.png') }}"
              alt="#"
            />
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Meet Rassul: <span class="text-body-secondary">Mastermind of Backend Brilliance</span></h2>
          <br>
        <p class="lead">Step into the world of backend development, where Rassul reigns supreme as a seasoned architect of digital infrastructure. With a meticulous approach and a passion for optimizing performance, Rassul is a backend developer par excellence, transforming ideas into robust and scalable backend systems.
            <br>
            <br>
        If you're in search of a backend developer with a proven track record of turning backend challenges into opportunities, connect with Rassul on LinkedIn or GitHub. Explore the possibility of leveraging his expertise to bring efficiency and scalability to your next project.
            <br>
            <br>
            Rassul is not just a backend developer; he is an architect of digital fortresses, ensuring that the foundation of applications is not just strong but adaptable to the evolving needs of the digital landscape. Embark on a journey of backend brilliance with Rassul leading the way!
        </p>
      </div>
      <div class="col-md-5 order-md-1">
                    <img width="500" height="500"
              src="{{ url_for('static',filename='media/rasul.png') }}"
              alt="#"
            />
      </div>
    </div>
        <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Meet Ilyas: <span class="text-body-secondary">The Architect of Seamless Backend Solutions</span></h2>
          <br>
        <p class="lead">Ilyas' journey in backend development began with a keen interest in optimizing digital landscapes. With a solid foundation in server-side technologies, databases, and APIs, Ilyas has evolved into a sought-after backend wizard, bringing elegance to the complexities of backend architecture.
            <br>
            <br>
            Ilyas is not just a backend developer; he is an architect of seamless digital experiences, ensuring that the backbone of applications is not only robust but adaptable to the evolving demands of the digital landscape. Embark on a journey of backend excellence with Ilyas leading the way!
        </p>
      </div>
      <div class="col-md-5">
                    <img width="500" height="500"
              src="{{ url_for('static',filename='media/ilka.png') }}"
              alt="#"
            />
      </div>
    </div>
    </div>
    <br>
{% endblock %}
