{% extends 'fundument.html' %}

{% block title %}
About Page
{%endblock%}


{% block body %}
<div class = "container"> 
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
      <h1 class="text-body-emphasis">About</h1> 
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        This is about page that was written on flask with SQLAlchemy <code>.col-*</code> class, and a customized call to action.
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
          <a class="text-decoration-none text-white" href="https://github.com/rasss1k">GitHub</a>
        </button>
        <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button"><a class="text-decoration-none" href="https://moodle.astanait.edu.kz/" >Moodle</a>
        </button>
      </div>
    </div>
  </div>
</div>
{%endblock%}