{% extends 'fundument.html' %}

{% block title %}
Main Page
{%endblock%}

{% block body %}
<div class = "container">
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Custom CV</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this CV. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-primary btn-lg" type="button"><a class="text-decoration-none text-white" href="/posts">Example button</a></button>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Change the content</h2>
        <p>Swap the main text utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button"><a class="text-decoration-none text-white" href="/posts">Example button</a></button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Add date</h2>
        <p>It is easyly contains the date of publication</p>
        <button class="btn btn-outline-secondary" type="button"><a class="text-decoration-none text-dark" href="/posts">Example button</a></button>
      </div>
    </div>
  </div>
</div>
{%endblock%}
