{% extends 'fundument.html' %}

{% block title %}
All Posts
{%endblock%}

{% block body %}
<div class = "container">   
        <main>
            <section class="py-5 text-center container">
              <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class="fw-light">Albums</h1>
                  <p class="lead text-body-secondary">This web page contains all CV dates for all users.</p>
                  <p>
                    <a href="/create-article" class="btn btn-primary my-2">Create new</a>
                  </p>
                </div>
              </div>
            </section>          
            <div class="album py-5 bg-body-tertiary">
              <div class="container">          
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for el in articles %}                         
                  <div class="col">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ el.username }}</text></svg>
                      <div class="card-body">
                        <h4>{{ el.name }} {{ el.surname }}</h4>
                        <p class="card-text">{{ el.work }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary "><a class="text-decoration-none text-black" href="/posts/{{ el.id }}">View</a></button>
                          </div>
                          <small class="text-body-secondary">Date: {{ el.date.date() }}</small>
                        </div>
                      </div>
                    </div>
                    </div>   
                    {% endfor %}             
                  </div>
                </div>
              </div>
            </div>
          
          </main>
    </div>
</div>
{%endblock%}
