{% extends 'dashboard.html' %}

{% block title %}
	<title>Editor</title>
{% endblock %}

{% block body %}
<div class = "container">
  <br>
  <div class="col-md-12">
    <br>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <p class="text-body-secondary">Author: {{ item.author.username }}</p>
        <h3 class="mb-0">{{item.title}}</h3>
        <br>
        <p class="card-text mb-auto">{{item.text}}</p>
        <br>
        <div class="mb-1 text-body-secondary">{{item.price}}₸</div>
        {% if current_user.is_authenticated and item.author == current_user %}
                    <p>
                        <a href="/index/{{item.id}}/update" class="btn btn-primary my-2">Edit</a>
                        <a href="/index/{{item.id}}/del" class="btn btn-secondary my-2 btn-danger">Delete</a>
                    </p>
                {% endif %}
      </div>
      <div class="col-auto d-none d-lg-block">
        <img width="420" height="340" src="{{ url_for('static', filename='uploads/' + item.img) }}">
      </div>
    </div>
  </div>


</div>
{%endblock%}
