{% extends 'dashboard.html' %}

{% block body %}
<div class = "container">
  <br>
  <h1> Editor</h1>    
    <br>
    <form method = "post" class="needs-validation" novalidate="">
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="firstName" class="form-label">Title</label>
                 <input type = "text" name = "title" id = "title" class = "form-control" placeholder="" value="{{item.title}}" required="">

          </div>

             <div class="col-sm-12">
            <label for="firstName" class="form-label">Text</label>
                 <input type = "text" name = "text" id = "text" class = "form-control" placeholder="" value="{{item.text}}" required="">

          </div>

          <div class="col-sm-12">
            <label for="lastName" class="form-label">Price</label>
                <input type="number" name = "price" id = "price" class = "form-control" placeholder="" value="{{item.price}}" required="">

          </div>

        <button class="w-100 btn btn-primary btn-lg" type="submit">Update</button>
        </div>
      </form>
</div>
{%endblock%}
